body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.greetDiv {
    height: 100vh;
    background-image: linear-gradient( rgba(144, 144, 169, 0.5), rgba(144, 144, 169, 0.5)), url("assets/code.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greetContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 80px;
    margin: 50px 0 80px 0;
    opacity: .5;
}

.greetText {
    margin: 0;
    font-size: 3.5rem;
    color: white;
    text-align: center;
}

.hire {
    margin-top: 100px;
    width: 150px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    border-radius: 12px;
    padding: 8px 15px;
    border: solid;
    border-color: rgb(225, 183, 15);
    border-width: 2px;
    transition: all .4s;
}

.hire:hover {
    background: rgb(225, 183, 15);
    color: black;
    width: 170px;
    border-radius: 35px;
}

.seeProjects {
    text-decoration: none;
    margin-top: 100px;
    color: #D3D3D5;
    font-size: 1.1rem;
    text-align: center;
    transition: all .4s;
}

.seeProjects:hover {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.projectsDiv {
    background: #0a0b2d;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myWork {
    color: white;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

.takeALook {
    color: white;
    margin: 0;
    text-align: center;
    margin-bottom: 70px;
    font-size: 1.4rem;
    font-weight: 300;
}

.project {
    max-width: 70rem;
    display: flex;
    justify-content: space-around;
}

.projectImgDiv {
    width: 45%;
}

.projectImg {
    width: 100%;
    border-radius: 30px;
}

.projectTitleAndDescription {
    color: white;
    width: 45%;
}

.projectDescription {
    color: #67656f;
}

hr {
    margin: 3rem 0;
    width: 70rem;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(22, 23, 47);
    padding: 0;
}