body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.greetDiv {
    height: 100vh;
    background-image: linear-gradient( rgba(144, 144, 169, 0.5), rgba(144, 144, 169, 0.5)), url("assets/code.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greetContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 80px;
    margin: 50px 0 80px 0;
    opacity: .5;
}

.greetText {
    margin: 0;
    font-size: 3.5rem;
    color: white;
    text-align: center;
}

.hire {
    margin-top: 100px;
    width: 150px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    border-radius: 12px;
    padding: 8px 15px;
    border: solid;
    border-color: rgb(225, 183, 15);
    border-width: 2px;
    transition: all .4s;
}

.hire:hover {
    background: rgb(225, 183, 15);
    color: black;
    width: 170px;
    border-radius: 35px;
}

.seeProjects {
    text-decoration: none;
    margin-top: 100px;
    color: #D3D3D5;
    font-size: 1.1rem;
    text-align: center;
    transition: all .4s;
}

.seeProjects:hover {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.projectsDiv {
    background: #ffe98f;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myWork {
    color: #524949;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

.takeALook {
    color: #524949;
    margin: 0;
    text-align: center;
    margin-bottom: 70px;
    font-size: 1.4rem;
    font-weight: 300;
}

.project {
    max-width: 55rem;
    display: flex;
    justify-content: space-around;
}

.projectImgDiv {
    width: 45%;
}

.projectImg {
    width: 100%;
    border-radius: 30px;
}

.projectTitleAndDescription {
    color: #524949;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.projectTitle {
    margin-top: 0;
}

.visit {
    margin-top: 40px;
    border-color: #bf1f4c;
    color: #bf1f4c;
}

.visit:hover {
    background: #bf1f4c;
    color: #ffe98f;
}

hr {
    margin: 3rem 0;
    width: 70rem;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(22, 23, 47);
    padding: 0;
}

.contactDiv {
    background: #3a2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.contactHeader {
    margin: 0;
    color: white;
}

.contactText {
    color: white;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 20px;
}

.contactButton {
    color: #7a9c88;
    border-color: rgb(117, 117, 115);
    margin-top: 50px;
}

.contactButton:hover {
    color: #3a2a2a;
    background: rgb(117, 117, 115);
}

.footerDiv {
    background: #252A30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footerLogoDiv {
    width: 3%;
    padding: 40px 0;
}

.footerLogo {
    width: 100%;
    opacity: .5;
}